/profiles
/.bundle
.gitkeep
/db/*.sqlite3
/log
/tmp
coverage
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/vendor/bundle
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
/config/database.yml
.rvmrc
.~lock*
.idea
database.yml.example
/public/uploads
/public/system
/public/sitemaps
nbproject/*
.~lock*
/tmtags
/ctags
/tags
recaptcha.yml
social_config.yml
.rbenv-version
.tags
/doc
