.row-fluid
  = render :partial => "phrases/phrases", :object => @phrases, :locals=>{:phrase=>nil}
  = render :partial => "phrase_translations/phrases_with_translations", :object => @phrases_with_translations